<h1>Edit Wiki</h1>

<% if current_user %>
  <%= form_for @wiki do |f| %>

    <% if @wiki.errors.any? %>
      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <% if current_user.premium && current_user.wikis.include?(@wiki) %>
      <%= f.label 'Make Public' %>
      <%= f.check_box :public, { checked: false }, 1, 0 %>
      <%= f.label 'Add/Remove Collaborators' %>
      <%= f.collection_check_boxes(:user_ids, User.where("id != ?", current_user.id), :id, :name) %>
    <% end %>
    <%= f.submit 'Update Wiki' %>
  <% end %>
<% end %>