<h1>Edit Wiki</h1>

<% if current_user %>
  <%= form_for @wiki do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <% if current_user.premium && current_user.wikis.include?(@wiki) %>
      <%= f.label 'Make Public' %>
      <%= f.check_box :public, { checked: true }, 1, 0 %>
      <%= f.label 'Add Collaborators' %>
      <%= f.collection_select(:user_ids, User.all, :id, :name, { prompt: true, multiple: true }) %>
    <% end %>
    <%= f.submit 'Update Wiki' %>
  <% end %>
<% end %>