<h1>New Wiki</h1>
<% if current_user %>
  <%= form_for @wiki do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <% if current_user.role == 'Premium' %>
      <%= f.label 'Make Private' %>
      <%= f.check_box :public, checked_value = '0', unchecked_value = '1' %>
    <% end %>

    <%= f.submit 'Make Wiki' %>
  <% end %>
<% else %>
  <p>You must be signed in to make a wiki.</p>
<% end %>