<h1>New Wiki</h1>

<% if current_user %>
  
  <%= form_for @wiki do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

      <%= f.label :body %>
      <div id="epiceditor">
        <%= f.text_area :body %>
      </div>


    <% if current_user.premium %>
      <%= f.label 'Make Public' %>
      <%= f.check_box :public, { checked: true }, 1, 0 %>
      <%= f.label 'Select Collaborators' %>
      <%= f.collection_select(:user_ids, User.all, :id, :name, { prompt: true, multiple: true }) %>
    <% else %>
      <% @wiki.public = true %>
    <% end %>

    <%= f.submit 'Make Wiki' %>
  <% end %>

<% else %>
  <p>You must be signed in to make a wiki.</p>
<% end %>