<h1><%= markdown @wiki.title %></h1>
<% if !@wiki.public %> 
	(Private)
<% end %>
<p><%= markdown @wiki.body %></p>

<% if @wiki.users.include?(current_user) %>
  <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: "button" %>
  <% if current_user.wikis.include?(@wiki) %>
    <%= link_to "Delete Wiki", wiki_path(@wiki), method: :delete, class: "button" %>
  <% end %>
  <h4>Current Collaborators</h4>
  <% @current_collaborators.each do |collaborator| %>
    <p> 
      <%= collaborator.name %>
      <% if current_user.is_wiki_owner?(@wiki) && current_user != collaborator %>
        <%= link_to "Remove", wiki_user_path(@wiki, collaborator), method: :delete, class: "button" %>
      <% end %>
    </p>
  <% end %>
  <% if current_user.is_wiki_owner?(@wiki) %>
    <h4>Search for and Add More Collaborators</h4>
    <%= form_tag wiki_path(@wiki), method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", name: nil %>
      </p>
    <% end %>
    <% if @new_collaborators %>
      <% @new_collaborators.each do |collaborator| %>
        <p>
          <%= collaborator.name %>
          <%= link_to "Add", wiki_user_path(@wiki, collaborator), method: :put, class: "button" %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
